@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #16001E;
    --cor-secundaria: #a9ebff;
    --cor-terciaria: #2DD881;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/* --cor-primaria: #1f162c;
    --cor-secundaria: #F8E559;
    --cor-terciaria: #773be6;
    --cor-hover: #3B3486; */

* {
    margin: 0;
    padding: 0;
}


body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
} 

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.375rem;
    font-weight: 600;
}

.apresentacao {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.125rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__titulo__about{
    font-size: 2.125rem;
    font-family: var(--fonte-primaria);
    text-decoration: underline;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.375rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto__about{
    font-size: 1.28125rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.375rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 17px;
    font-size: 1.375rem;
    padding: 14px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
    color: white;

}

.imagem__perfil {
    width: 40%;
    border-radius: 17px;
}

.imagem__perfil__email {
    width: 28vw;
    border-radius: 17px;
}

.rodape {
    padding: 24px;
    color: black;
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 12%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 10%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .email__perfil {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .imagem__perfil {
        width: 50%;
        border-radius: 17px;
    }

    .imagem__perfil__email {
        width: 65vw;
        border-radius: 17px;
    }
}